html {
  background-color: black;
  color: #15b940;
  font-family: monospace;
  font-size: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper{
  border: 1px dashed #39da08;
  margin: 15px auto;
  padding: 10px;
}

.inner {
  width: 85%;
  margin: 0 auto;
  min-height: 300px;
}

.room_title{
  text-align: center;
}

.people{
  overflow: hidden;
  margin: 15px 0;
  /*min-height: 48px;*/
}

.people div{
  float: left;
  width: 50%;
}

.people .status_mark{
  margin-right: 5px;
}

.people_status{
    min-height: 61px;
}
 
.people_status div{
    margin: 5px;
}

.people_status span{
  margin-right: 5px;
}

.room_rule span{
  margin-left: 10px;
}

.room_rule p{
    margin: 8px 0;
}

.action {
  margin-bottom: 10px;
}
.action input{
  background-color: black; 
  border: 1px dashed #39da08;
  color: #39da08;
  line-height: 15px;
  padding: 5px;
  outline: 0 none;
}

.action a:hover{
  cursor: pointer;
}

::-webkit-input-placeholder {
     color: #39da08;
}

.status_mark{
    height: 20px;
    display: inline-block;
    padding: 2px;
}

.status_mark:before {
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    margin-right: 5px;
    width: 10px;
    text-align: center;
}
.status_0:before{
    content: "✔";
}
.status_1:before{
    content: "✘";
}
.status_2:before{
    content: "☺";
}

.room_rule p:after{
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    margin-right: 5px;
    width: 10px;
    text-align: center;
    content: "(✘)"
}

.room_rule .rule_enabled:after{
    content: "(✔)";
}

.lobby-buttons li{
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    cursor: pointer;
}

.lobby-title {
    text-align: center;
}

input.room_number{
    width: 50px;
    height: 10px;
    line-height: 10px;
}

.outter {
    overflow: hidden;
    height: 480px;
}

.prepare, .game{
    float: left;
    height: 100%;
    width: 100%;
}

.game{
    position: relative;
}

.game .role{
    position: absolute;
    top: -173px;
    width: 100%;
    height: 191px;
}

.game .role h5{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.game .role .role-desc{
    text-align: center;
    height: 30px;
}
.game .role .role-visible{
    overflow: hidden;
    height: 50px;
}
.game .role .role-visible span{
    display: block;
    float: left;
    width: 45%;
    text-align: center;
    padding: 4px;
}

.game .role .role-button{
    margin: 0 auto;
    margin-top: 15px;
    width: 80px;
    text-align: center;
    padding: 4px;
}

.game .role.show{
    top: 0px;
}

.game .ground{
   margin-top: 45px;
   text-align: center;
}

.game .ground h4{}

.game{display: none}
